<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> a{
              text-decoration: none;
              background-color: aqua;
              padding: 20px;
              margin-left: 20px;
              display: inline-block 
    }
        </style>
</head>
<body>
     <h1><a href="{% url 'about' %}">About</a></h1>
    <h1>welcome to home page</h1> 
</body> 
</html> 